body{
  overflow-x: hidden;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}
div{
  width: 300px;
  height: 400px;
}
.content{
  /* padding:10% 35%; */
  padding-left: 35%;
  padding-top: 10%;
}
.red .content h1{
  padding-top: 15%;
}
.content h1{
  font-size: 5rem;
  text-transform: uppercase;
}
#phones{
  height: 700px;
  width: 400px;
  position: fixed;
}
#phones::after{
position:fixed;
height: 500px;
width: 400px;
background-image: url('./mobile.png');
content: "";
bottom:0;
background-size: cover;

}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.phone {
  position: fixed;
  bottom: 0;
  left: 50px;
  display: none;
  /* opacity: 0; */
  z-index: 99;
  background-image: url('./1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.phone2 {
  position: fixed;
  bottom: 0;
  left: 50px;
  z-index: 1;
  background-image: url('./2.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.phone3 {
  position: fixed;
  bottom: 0;
  left: 50px;
  z-index: 9999;
  /* opacity: 0; */
  display: none;
  background-image: url('./3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
